.header-logo {
	margin-right: 50px;

	img {
		height: 20px;

		@include desktop {
			height: 45px;
		}
	}
}

.topnav {
	margin: 1.5rem;
	max-width: 1300px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	// align-items: center;
	align-content: center;

	@include tablet {
		row-gap: 15px;
		align-items: center;
	}

	@include desktop {	
		margin: 3rem;
	}

	a {
		display: none;
		color: #000000;
		text-align: center;
		padding: 12px 12px;
		margin: 2px;
		text-decoration: none;
		font-size: 18px;
		font-family: Roboto, sans-serif;
		border-radius: 12px;

		@include tablet {
			display: block;
		}

		&.active,
		&:hover {
			background-color: $color-primary;
			color: #ffffff;
		}

		&:hover {
			background-color: $color-primary;
			color: #ffffff;
			text-decoration: underline;
			text-underline-offset: 3px;
		}

		&.icon {
			display: block;
			padding: 0 6px;

			@include tablet {
				display: none;
			}

			i {
				color: $color-primary;
				font-size: 1.5rem;
			}

			&:hover {
				background: none;
				color: $color-primary;
			}
		}
	}

	&.responsive {
		position: relative;
		display: inline-block;

		.main-navbar {
			display: block;
			float: right;
			margin-top: 1rem;
		}

		.icon {
			position: absolute;
			right: 0;
			top: 0;
		}

		a {
			float: none;
			display: block;
			text-align: left;
		}
	}
}

.main-navbar {
	display: flex;
	flex-direction: row;
	// align-items: center;

	@include tablet {
		align-items: center;
	}
}
