footer {
	// padding-left: 2vw;
	// padding-right: 2vw;
	// margin: 0 20px;
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;

	@include tablet {
		justify-content: flex-start;
		padding-left: 1.5rem;
	}
	
}

.copyrights {
	color: $color-primary;
	padding: 0;
	font-size: 1rem;
	// margin: 60px 0 30px;
	font-weight: bolder;
	// margin-top: 50px;
	
	// text-align: center;

	// @include tablet {
	// 	text-align: left;
	// }
}