footer {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;

	@include tablet {
		justify-content: flex-start;
		padding-left: 1.5rem;
	}
	
}

.copyrights {
	color: $color-primary;
	padding: 0;
	font-size: 1rem;
	font-weight: bolder;
}