<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-headline">
      Marathon national<br />
      de jeux vidéos
    </h1>
    <p class="hero-text">
      Vous aimez jouer ? Notre prochain évènement gaming est ouvert aux
      réservations... Places limitées !
    </p>
    <button class="btn-signup modal-btn">je m'inscris</button>
  </div>
  <div class="hero-img">
    <img src="./images/bg-img.jpg" alt="img" />
  </div>
  <button class="btn-signup modal-btn">je m'inscris</button>
</div>