.hero-section {
	// min-height: 93vh;
	border-radius: 10px;
	display: block;
	margin-bottom: 10px;
  margin: 0 1.5rem;
  max-width: 1300px;

	@include tablet {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
		margin: 0 1.5rem;
	}

	@include desktop {
		margin: 1rem 3rem;
	}

	> .modal-btn {
		display: block;
		margin: 2rem auto 0;

		@include tablet {
			display: none;
		}
	}
}

.hero-content {
	// min-width: 424px;
	background: #fff;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	// padding: 20px;

	@include tablet {
		padding: 3rem 0 0 3rem;
		grid-column: span 4;
		background: $bgcolor-dark;
		color: #fff;
		position: relative;
		text-align: left;
		border-radius: 10px 0 0 10px;
	}

	&::after {
		@include tablet {
			content: "";
			width: 100%;
			height: 100%;
			background: $bgcolor-dark;
			position: absolute;
			right: -80px;
			top: 0;
		}
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.modal-btn {
		display: none;

		@include tablet {
			display: block;
			margin: 2rem 0 3rem;
		}
	}
}

.hero-headline {
	font-size: 4.5rem;
	font-weight: normal;

	@include tablet {
		white-space: nowrap;
	}

	@include desktop {
		font-size: 6rem;
	}
}

.hero-text {
	font-size: 1.5rem;
	font-weight: normal;
	margin-top: 40px;
	margin-bottom: 40px;

	@include tablet {
		width: 120%;
		// width: 146%;
	}
}

.hero-img {
	grid-column: span 8;

	img {
		width: 100%;
		height: 100%;
		display: block;
		padding: 0;
		border-radius: 10px;

		@include tablet {
			margin-top: 0;
		}
	}
}

.modal-btn {
	text-transform: capitalize;
	font-size: 145%;
	padding: 0.75rem 2rem;
	margin: 2rem auto 0;
}
