:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }

$breakpoints: (
  bp800: 800px,
  bp768: 768px,
  bp540: 540px,
);

@mixin bp800 {
    @media screen and (min-width: map-get($breakpoints, bp800)) {@content}
};

@mixin bp768 {
    @media screen and (min-width: map-get($breakpoints, bp768)) {@content}
};

@mixin bp540 {
    @media screen and (min-width: map-get($breakpoints, bp540)) {@content}
};

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


